*{
  margin: 0;
  padding: 0;
}

.meu-container{
  width:85%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;

  /*flex*/
  display: flex;
  flex-direction: column;
}

header{
  background-color: #D9A18B;
  color: black;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  padding-top: 1px;
  text-align: center;
  font-size: 30px;

}

main{
  background-color: #EECB3E;
  flex-grow: 1;
  padding-left: 12px;
  padding-top: 5px;
}

body{
  font-family: verdana, sans-serif;
}

footer{
  background-color: #1E2953;
  text-align: right;
  padding-right: 1em;
  padding-top: 0.5em;
}

.content{
  display: flex;
  flex-direction: column;
}

.item{
  margin: 3em;
}

.formulario{
  color: white;
  background-color: #008B8B;
  padding: 10px;
}

.wrapper img{
  padding-bottom: 5px;
}

.forms{
  background-color: white;
  padding-left: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
