.navigation {
  list-style: none;
  margin: 0;
  background: #8CD1DA;

  /*Flex*/
  display: flex;
  flex-direction: row-reverse;
}

.navigation a{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 15px;
}

.navigation a:hover{
  background: white;
}

.navigation li{
  color: white;
}
